mixin formatInput(label,placeholder)
  div(class="saveTime__estimate--formTwo--inputGroup pdt-1 pdb-1 radius-4 w-100")
    label(class="font-dmsans weight-400 size-18 grey-4 saveTime__estimate--formTwo--inputGroup--label bkwhite")= label
    
    input(type="text" placeholder=`${placeholder}` value="" class=` pdt-12 pdb-12 w-100`)
  button(class="btn customBtn  submit-password w-100 radius-4 w-100") Submit
div(class="modalForgetPassword ")
 .modalForgetPassword__content
  .modalForgetPassword__content__container
   div(class="forget-password")
    div(class="forget-password__container ")
     div(class="forget-password__logo mtop-25")
      img(src="images/logo.png")
     div(class="d-flex flex-column")
      
      h2(clas="") Forgot your password?
      p(class="size-14 mtop-15 mrb-35") Don’t worry, happens to all of us. Enter your email below to recover your password
      form
       +formatInput("Email","john.doe@gmail.com")
  .modalForgetPassword__closeBtn
   img(src="images/closeIcon.png")


    