- var imgs = ["images/avatar-1.png","images/avatar-2.png","images/avatar-3.png"]
mixin avatar(className)
 div(class=className)
  -for(let i = 0 ; i < imgs.length;i++)
    img(src=`${imgs[i]}` class="radius-50")

.herocontent(class="d-flex") 
  div(class="herocontent__leftside") 
   p(class="label ") Training Elevated
   h1(class="font-outfit weight-300 drkBlue size-h1 herocontent__h1 mtop-20 mrb-40") Train Staff <span class="coloredword">Smarter,</span> Not Harder
   p(class="herocontent__leftside--text mrb-25 font-dmsans size-18 weight-400 lightblue") Dewdroppers allows managers to create brand and product training that their staff take on their own time, at their own pace. The result? Managers with more free time and staff that deliver a higher quality event.
   a(class="customBtn getstarted mrb-50") Get Started
   .herocontent__leftside--managers
    +avatar('herocontent__leftside--managers--imgs mrb-25')
    p(class="herocontent__leftside--managers--txt drkBlue font-dmsans size-14 weight-400") Join the <span class="weight-500 forthBlue">1000+</span> managers and workers using Dewdroppers as their training and inventory management platform 


  div(class="herocontent__rightside")   
   img(src="images/MacBook.png")

