.modalRegister
 .modalRegister__content
  .modalRegister__content__container
   include ./registerForm.pug
  .modalRegister__closeBtn
   img(src="images/closeIcon.png") 
  .modalRegister__backBtn
   img(src="images/icons8-arrow-64.png")