- var list = [{title:"Home",id:"/"},{title:"About",id:"About.html"},{title:"Features",id:"#feature"},{title:"Pricing",id:"#pricing"},{title:"Sign in",id:"#"},{title:"Sign Up",id:"#"}]



.container__navbarDew 
 div(class="navbarDew d-flex align-items-center justify-content-between ") 
  a(href="/" class="d-block ")
   img(src="images/logo.png")
  ul(class="navList d-flex align-items-center w-100") 
   each val,i in list
    li(class=`${i==0?"margin-left-auto":""} ${i==3?"margin-right-auto":""}`)
     a(href=`${val.id}` class=`${i==0?"":""} ${val.title=="Sign Up" || val.title=="Sign in"?"signBtn":""} ${i==4?"login green weight-bold size-16 mrt-20":""} ${i==5?"weight-bold size-16 radius-28  customBtn":""}  font-dmsans weight-500 size-16 drkBlue`)=val.title
  .habmurgMenu 
   span 
   span 
   span



      