.registerForm__company__container 
 div 
   p(class="font-popinos size-17 weight-500 ") Register Copmany
 div(class="registerForm__company__container--steps")
  span 
  span 
  span 
 div(class="registerCompany__companyInfo")
  p(class="font-popinos size-17 weight-500 mrb-15") Tell Us about your Company 
  div 
   input(type="text" placeholder="Company Name")
  div 
   input(type="text" placeholder="Address")
  div 
   input(type="text" placeholder="Phone Number")
  div 
   input(type="text" placeholder="Total Number of Staff")
  div(class="")
   button(class="btn customBtn registerForm__company__container--next") Next