div(class="registerCompany__cards--switchPalns d-flex align-items-center")
 div(class="registerCompany__cards--switchPalns--div active")
  input(type="radio" name="registerPlan" value="6 month" id="monthlyRegister" class="registerCompany__cards--switchPalns--input")
  label(class="registerCompany__cards--switchPalns--label" for="monthlyRegister") Month
 div(class="registerCompany__cards--switchPalns--div")
  input(type="radio" name="registerPlan" value="year" id="yearRegister" class="registerCompany__cards--switchPalns--input")
  label(class="registerCompany__cards--switchPalns--label" for="yearRegister") Year
  