div(class="requestDemo")
 div(class="requestDemo__container d-flex justify-content-between")
  div(class="requestDemo__container--leftside d-inline-block")
   img(src="images/demo.png" class="radius-60")
   p(class="b-grey font-outfit weight-500 size-16 d-flex flex-column requestDemo__container--leftside--txt")
    span(class="black size-44") 89.5<b class="weight-500 size-20 orange">%</b>
    span Short description or details goes in here
  div(class="requestDemo__container--rightside")
   h2(class="font-outfit weight-400 size-48 requestDemo__container--rightside--heading")
    span(class="black-6 d-block") Request a <b class="pink">demo.</b> 
    span(class="d-block") We'll walk you through the entire process.
   p(class="font-dmsans weight-400 size-18 lightblue mtop-40 mrb-40 requestDemo__container--rightside--txt") Whether you're a small startup or a national agency, we'd love to show you how Dewdroppers can improve your training while saving you time and money.
   a(href="#" class="btn customBtn requestdemo") Request Demo
