.pricingPage{
    &__container{
        &--toggleBtns{
            border: 1px solid $lightPink;
            border-radius: 80px;
            width: 262px;
            margin: auto;
            padding: 3px 5px;
            button{
                width: 50%;
                cursor: pointer;
                position: relative;
                &::after{
                    @include after();
                    border-radius: 20px;
                    z-index: -1;
                    width: 0;
                    transition: .5s;
                }
                &.active{
                    
                    color: $white;
                    border-radius: 20px;
                    padding: 5px 0;
                    &::after{
                        background-color: $green;
                        width: 100%;


                    }
                }
            }
        }
        &--subscription{
         opacity: 0;
         transition: .5s;
         &.animate__animated{
            opacity: 1;
         }
        }
    }
    &__swiper{
        width: 1600px;
        max-width: 90%;
        margin: auto;
        padding-bottom: 50px;
    
    }
}