.whatOffer {
    &__subHeading{
        max-width: 850px;
        line-height: 1.6;
    }
    &__dashboard{
       
        
       
        width: 800px;
        padding-left: 50px;
        position: relative;
        margin-top: 150px;
        max-width: 100%;
        &::after{
            @include after();
            background-color: $bage;
            border-radius: 44px;
            z-index: -1;
            top: -50px;

        }
        >div.dashboardCard {
            &:not(:last-child){
                margin-bottom: 20px;
            }
            &:nth-of-type(odd){
                transform: translateX(-150px);
            }
            &:nth-of-type(even){
                filter: none;
            }
        }
        &--inventory {
            background-color: $lightGreen;
         
            border-radius: 24px;
            width: 470px;
            height: 350px;
            position: absolute;
            top: -100px;
            right: -330px;
            bottom: 0;
            margin: auto;
            max-width: 100%;
        }
    }

}




