@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*loop font size*/
@for $i from 1 through 50{
  .size-#{$i}{
    font-size: $i+px;
  }
}
@for $i from 1 through 10{
  .weight-#{$i*100}{
    font-weight: #{$i*100};
  }
}
.size-h1{
  font-size: 80px;
}
.weight-bold{
  font-weight: bold;
}
.font-dmsans{
  font-family: "DM Sans", sans-serif;
}
.font-outfit{
  font-family: "Outfit", sans-serif;

}
.coloredword{
  color: $pink;
  font-weight: 600;
}

.txtLHeight{
  line-height: 1.6;
}
/*h2 heading Title */
.h2Heading{

  color: $drkBlue;
  font-family: "Outfit", sans-serif;
  font-size: 65px;
  font-weight: 400;
}

