@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*loop font size*/
@for $i from 1 through 50{
  .size-#{$i}{
    font-size: $i+px;
  }
}
@for $i from 1 through 10{
  .weight-#{$i*100}{
    font-weight: #{$i*100};
  }
}
.weight-bold{
  font-weight: bold;
}
.font-dmsans{
  font-family: "DM Sans", sans-serif;
}


.txtLHeight{
  line-height: 1.6;
}
/*h2 heading Title */
.h2Heading{

  
}

