/*colors */
$white:#fff;
$scondryWhite:#F6F2EA;
$blue:#4D6FB2;
$scondryBlue:#C6D4EF;
$lightBlue:#525F7A;
$grey:#F6F6F6;
$drkBlue:#1F2C47;
$green:#A7C78F;
$thirdBlue:#DBE2F0;
$black:#262023;
$pink:#C981A8;
$fourthBlue:#4E6EB1;


.lightblue{
    color: $lightBlue;
    
}
.blue{
    color: $blue;
}
.drkBlue{
    color: $drkBlue;
}
.green{
    color: $green;
}
.scndryWhite{
    color: $scondryWhite;
}

.forthBlue{
    color: $fourthBlue;
}











