.GetQoute 
 .container-page 
  h2(class="h2Heading size-80 GetQoute__mainHeading")
   p(class="black-5") Invest In Your <span class="pink weight-600">Team</span>
   p(class="black-5") Invest In Your <span class="pink weight-600">Events</span>
  p(class="font-dmsans size-16 green-6 weight-400 ")
   span(class="d-block") Not sure we're right for you? Here are our top 10 reasons why you
   span(class="d-block") should invest in company training :
   