div(class="training pdt-80 pdb-80")
 .container-page
  div(class="d-flex align-items-center training__content")
    .training__leftside
     img(src="images/new-iPhone15Pro.png")
    .training__rightside 
     p(class="label mrb-25") Unlocking Excellence
     h2(class="h2Heading training__heading mrb-25") <span class="weight-bold pink">Training</span> and <span class="weight-bold pink">Inventory</span> Management Anytime, Anywhere
     p(class="dmsans size-18 weight-400 lightblue training__subtxt")
      span(class="d-block training__subtxt--span") Live training comes with technical issues, lack of engagement and distractions.
      span(class="d-block mtop-30 mrb-25 training__subtxt--span") Bring higher quality training and inventory management to your teams while removing the pressure of coordinating time zones, busy calendars,and last minute changes. 
     a(href="#" class="customBtn pdr-67 pdl-67 ") Get Started
  
  