
include ./strucuture/head.pug
 include ./layout/Hero.pug
 include ./layout/WhatOffer.pug
 include ./layout/Training.pug
 include ./layout/SaveTime.pug
 include ./layout/Testimonial.pug
 include ./layout/Qoute.pug
 
 
 

 
  


  
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 script(src="js/script.js")
